<div class="container">
  <div class="container">
    <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="usernameTaken">
      Username taken
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="usernameTaken = false">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="enterAll">
      Please enter all details
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="enterAll = false">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="panel">
      <div class="panel-heading"><h3>Sign up</h3></div>
      <div class="panel-body">
        <div class="form-group col-sm-6 ">
          <label for="inputfname">First Name*</label>
          <input type="text" class="form-control" id="inputfname" placeholder="First Name" (input)="statusChecking()" [(ngModel)]="registerUser.firstname">
        </div>
        <div class="form-group col-sm-6">
          <label for="inputsname">Surname</label>
          <input type="text" class="form-control" id="inputsname" placeholder="Surname" (input)="statusChecking()" [(ngModel)]="registerUser.surname">
        </div>
        <div class="form-group col-sm-6 ">
          <label for="inputUsername">Username*</label>
          <input type="text" class="form-control" id="inputUsername" placeholder="Username" (input)="statusChecking()" [(ngModel)]="registerUser.username">
        </div>
        <div class="form-group col-sm-6">
          <label for="exampleInputEmail1">Email address*</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" (input)="statusChecking()" [(ngModel)]="registerUser.email">
        </div>
        <div class="form-group col-sm-6">
          <label for="passwordInput">Password*</label>
          <input type="password" class="form-control" id="passwordInput" placeholder="Password" (input)="statusChecking()" (focus)="tried()" [(ngModel)]="registerUser.password">
        </div>
        <div class="form-group col-sm-6">
          <label for="confPasswordInput">Confrim Password*</label>
          <input type="password" class="form-control" id="confPasswordInput" placeholder="Password" (input)="statusChecking()" [(ngModel)]="confPass">
          <p *ngIf="!passwordsMatch">*Passwords do not match*</p>
        </div>
        <div class="container">
          <div class="row">
            <div class="form-group col-sm-3">
              <label for="weightInput">Weight (KG)</label>
              <input type="number" class="form-control" id="weightInput" placeholder="Weight" (input)="statusChecking()" [(ngModel)]="registerUser.weight">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-3">
              <label for="heightInput">Height (CM)</label>
              <input type="number" class="form-control" id="heightInput" placeholder="Height" (input)="statusChecking()" [(ngModel)]="registerUser.height">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-3">
              <label for="BodyfatInput">Bodyfat perc (%)</label>
              <input type="number" class="form-control" id="BodyfatInput" placeholder="Bodyfat" (input)="statusChecking()" [(ngModel)]="registerUser.bodyfatPerc">
            </div>
          </div>
          <br>
          <button class="btn btn-success" (click)="signup()">Sign up</button>
          <div class="loading-indicator" *ngIf="loading"><mat-spinner style="margin:0 auto;"></mat-spinner></div>
          <br>
        </div>
      </div>
    </div>
  </div>

</div>
