<div>
  <mat-tab-group>
    <mat-tab label="My Goals">
      <mat-accordion *ngIf="loaded">
        <mat-expansion-panel *ngFor="let goal of goals">

          <mat-expansion-panel-header>
            {{goal.goalName}}
          </mat-expansion-panel-header>

          <div *ngFor="let set of goal.set; index as i">
            {{set.exercise.exerciseName}}
            <app-sets [setsID]="set.setID" [exercise]="set.exercise" [delete]="false" [add]="false"></app-sets>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab>
    <mat-tab label="Create a goal">
      <div class="container">
        <br>
        Name <input type="text" [(ngModel)]="goal.goalName">
        <br>
        Exercises: <br>
        <ul>
          <li *ngFor="let exercise of allExercises">
            {{exercise.exerciseName}}

          </li>
          <li>
            <input type="text" matInput [(ngModel)]="currentInput" [formControl]="myControl" [matAutocomplete]="auto" (keyup.enter)="addExercise()">
            <button class="btn btn-outline-secondary" (click)="addExercise()">Add</button>
          </li>
        </ul>

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let exercise of filteredOptions | async" [value]="exercise">
            {{ exercise }}
          </mat-option>
        </mat-autocomplete>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
