<div *ngIf="loginFailed" class="alert alert-danger alert-dismissible fade show" role="alert">
<strong>Login failed</strong> Username or password not recognised
<button type="button" class="close"  aria-label="Close" (click)="loginFailed = false">
  <span aria-hidden="true">&times;</span>
</button>
</div>

<div class="card">
  <h3 class="card-header">Login</h3>
  <div class="card-body">
    <div class="">
      <label for="user">Username</label> <input [(ngModel)]="user.username" type="text" id="user" value=""> <br> <br>
      <label for="pass">Password</label> <input [(ngModel)]="user.pass" type="text" id="pass" value=""> <br> <br>
      <button type="button" name="button" class="btn btn-success" (click)="login(user)">Login</button>
    </div>
  </div>
</div>
