<div class="panel panel-default" *ngIf="user && !edit">
  <div class="panel-heading">
    <h3 class="panel-title">Your profile</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="../../assets/blank-profile.png" alt="...">
        </a>
      </div>
    </div>
    <div class="container"><h4>Name: {{user.firstname}} {{user.surname}}</h4></div>
    <div class="container"><h4>Email: {{user.email}}</h4></div>
    <div class="container"><p>Bio: {{user.bio}}</p></div>
    <div class="container"><p>Height: {{user.height}}cm</p></div>
    <div class="container"><p>Weight: {{user.weight}}KG</p></div>
    <div class="container"><p>BMI:    {{user.bmi}}</p></div>
    <br>
    <br>
    <br>
    <br>
    <button class="btn btn-success" (click)="update()">Update profile</button>
  </div>
</div>

<div class="panel panel-default" *ngIf="user && edit">
  <div class="panel-heading">
    <h3 class="panel-title">Your profile</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="../../assets/blank-profile.png" alt="...">
        </a>
      </div>
    </div>
    <div class="container"><h4>Name: {{user.firstname}} {{user.surname}}</h4></div>
    <div class="container"><h4>Email: {{user.email}}</h4></div>
    <div class="container"><p>Bio:    <input [(ngModel)]="user.bio" type="text"></p></div>
    <div class="container"><p>Height: <input [(ngModel)]="user.height" type="number"> cm</p></div>
    <div class="container"><p>Weight: <input [(ngModel)]="user.weight" type="number">KG</p></div>
    <br>
    <br>
    <br>
    <br>
    <button class="btn btn-success" (click)="save()">Save updates</button>
  </div>
</div>
