<div class="card" *ngIf="workout">
  <h3 class="card-header" *ngIf="!canEdit">{{workout.workoutName}} <div class="float-right"><i (click)="edit()" class="fa fa-edit"></i></div> </h3>
  <h3 class="card-header" *ngIf="canEdit"><input type="text" [(ngModel)]="workout.workoutName">
    <div class="float-right" *ngIf="!canEdit">
      <i (click)="edit()" class="fa fa-edit"></i>
    </div>
    <div class="float-right" *ngIf="canEdit">
      <i (click)="edit()" class="fa fa-floppy-o"></i>
    </div>
  </h3>
  <div class="card-body">
    <p *ngIf="!canEdit">
      Scheduled: {{workout.date}}<br><br>
      Description: <br>{{workout.description}}<br><br>
      Exercises:
    </p>
    <p *ngIf="canEdit">
      Scheduled:
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="dateInput">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <br><br>
      Description: <br><textarea [(ngModel)]="workout.description" rows="4" cols="40"></textarea><br><br>
      Exercises:
    </p>
    <ul>
      <li *ngFor="let exercise of workout.exerciseList.exercises; index as i">
        {{exercise.exerciseName}}
        <a *ngIf="!locked" (click)="delete(i)"><i class="fa fa-close"></i></a>
        <app-sets [delete]="!locked" [exercise]="exercise" setsID="{{workout.setsID}}"></app-sets>
      </li>
      <li *ngIf="addItem">
        <!--Exercise search-->
        <input type="text" matInput [(ngModel)]="currentInput" [formControl]="myControl" [matAutocomplete]="auto" >
        <button class="btn btn-outline-secondary" (click)="addExercise()">Add</button>
        <button class="btn btn-outline-secondary" (click)="addItem = false">Cancel</button>
        <!-- Autocomplete suggestions for the searchbar -->
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let exercise of filteredOptions | async" [value]="exercise">
            {{ exercise }}
          </mat-option>
        </mat-autocomplete>
      </li>
    </ul>
    <button class="btn btn-primary" (click)="enableAddItems()">Add exercises</button> <button class="btn btn-primary" (click)="createExercise()">Create Exercise</button> <button (click)="locked = !locked" class="btn btn-primary"><i class="fa fa-lock" ></i></button>
  </div>
</div>
